
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hometitle h1{
  color: #AC87C5;
}
header {
  text-align: center; 
  color: #AFC8AD; 
  
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 20px;
}
.container {
  display: flex;
}
.main-content {
  flex: 1;
  
}

.welcome-block {
  max-width: 100%; 
  background-color: #AFC8AD; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   /* shadow effect */
  margin: 20px; 
  
}
.welcome-block p {   
  color: white; 
  font-size: 24px; 
  font-weight: bold; 

}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
}

.block {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: white;
  color: white;
  text-align: center;
  line-height: 250px;
  margin: 0 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;  /* smooth transition effect */
  overflow: hidden;
}

.block img {             /* styling for the images in blocks */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* for vertical and horizontal centering  */
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.block:hover .block img {    /* image opacity when in the hover mode */
  opacity: 0;
}

.block:hover {            /* block background color when in the hover mode */
  background-color: #8CAB91;
}



.calendar-block {    
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-block img {
  width: 70%; 
  height: auto; 
  max-width: 100%; 
  max-height: 100%; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 20vw;    /* Default closed side bar width */
  overflow: hidden; 
  transition: width 0.3s ease;   /* Adding width transition effect */
  position: relative; 
  z-index: 1; 
}

.sidebar ul {
  list-style: none;   /* Removing default list styles for sidebar unordered lists*/
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;   /* Removing default underline on links */
  color: black;
}

.sidebar.collapsed {
  width: 70px;    /* setting width for collapsed sidebar */
}

.sidebar.collapsed ul li {
  display: none;     /* hiding list items when sidebar is collapsed */
}

.sidebar-toggle {    /* sidebar toggle button styling */
  display: block;
}


.sidebar-toggle span {   /* styling for elements within the sidebar toggle */
  display: block;
}

.sidebar nav {    /* styling for sidebar navigation */
  width: 100%; 
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
}

.sidebar nav a {
  text-decoration: none;
  color: #AFC8AD !important;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
}

button {
  padding: 10px;
  background-color: #AC87C5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;            /* to change mouse icon when it is on a clickable item*/
  transition: all 0.3s ease;      /* adding transition */
}

button:hover {      /* Hover effect for buttons */
  transform: scale(1.1);       /* setting button size */
  background-color: #AC87C5;           /* Changing background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Adding box shadow on hover */
} 


@media screen and (max-width: 768px) {    /* Styling adjustments for smaller screens */
  .sidebar {
    width: 70px;
    overflow: visible;
  }

  .sidebar ul li {
    display: none;
  }

  .sidebar-toggle {
    display: block;
  }

  .sidebar.collapsed {
    width: 70px;
  }

  .sidebar.collapsed ul li {
    display: block;
  }
  .sidebar nav a {
    font-size: 9px; 
  }
 
  
}
